@import "tailwindcss"; 


@theme {
  --color-blueBase: #BBEDDF;
  --color-blueDark: #184E77;
  --color-turquesa: #34A0A4;
  --color-blue: #1A759F;
  --color-warning: #FB7E7E;
  --color-WhiteWhite: #FFFFFF;
  --color-GreenLite: #B5E48C; 
}
